
<h1 style="text-align: center; margin: 8px 0 50px 0;">Esta es la tabla de los empleados</h1>

<p-table  [value]="empolyees" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Telefono</th>
          <th>Acciones</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empolye>
      <tr>
          <td>{{ empolye.name}}</td>
          <td>{{ empolye.age }}</td>
          <td>{{ empolye.phone }}</td>
          <td>
            <p-button (click)="editEmployee(empolye)">
              Editar
            </p-button>
          </td>
      </tr>
  </ng-template>
</p-table>