<h1 style="text-align: center; margin: 8px 0 50px 0;">Este es el formulario para editar</h1>
<div style=" margin: 0 auto; width: 450px; height: 550px; border-radius: 25px; ">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <input type="text" id="name" class="fadeIn second" name="name" placeholder="Nombre">
  </div>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <input type="number" id="age" class="fadeIn second" name="age" placeholder="Edad">
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <input type="number" id="phone" class="fadeIn second" name="phone" placeholder="Telefono">
      </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <p-button >
        Editar
      </p-button>
    </div>

</div>